.container {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    background-color: #03a9f4;
};

.buttonadd {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #303030;
  border: 1px solid #949494;
}

.buttoncustom {
  background-color: #303030;
  border: 1px solid #949494;
}

.pcard{
  padding: 0%;
}

.divPan {
  border: #303030;
}