.iconAddon{
    width: 1%;
}

.inputAddon {
    align-items: center;
    justify-content: center;
    background: #e9ecef;
    color: #6c757d;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    padding: 0.75rem 0.75rem;
    min-width: 3rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.buttonAddon {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    align-items: center;
    justify-content: center;
}

.buttoncustom {
    background-color: #303030;
    border: 1px solid #949494;
  }